/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
}

/* Hero Section */
#hero {
    background: url(../image/backgroud.jpg) no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

#hero .hero-content {
    position: relative;
    z-index: 2;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #007BFF;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* About Section */
#about {
    background-color: #fff;
    padding: 50px 0;
}

#about h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

#about p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}

/* Services Section */
#services {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#services h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service:hover img {
    transform: scale(1.1);
}

/* Contact Section */
#contact {
    padding: 50px 0;
    background-color: #fff;
}

#contact h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}

#contact button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
